{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Profile{% endblock title %}
{% block appname %}Profile{% endblock appname %}

{% block content %}
<div class="container">
    <a href="{% url 'pages:home' %}" class="text-dark text-decoration-none">
        <div class="d-flex">
            <i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i>
            <p class="lead ml-2">Home</p>
        </div>
    </a>
    <hr class="p-2">
    <ul>
        <li>User: {{ profile.user }}</li>
        <li>Bio: {{ profile.bio }}</li>
        <li>Country: {{ profile.country.name }} <img src="{{ profile.country.flag }}" alt=""></li>
        <li>Icon: <i class="{{ country.flag_css }}"></i></li>
        <li>Birthday: {{ profile.birth_date }}</li>
    </ul>
</div>
{% endblock content %}