{% extends '_base.html' %}
{% load crispy_forms_tags %}
{% block title %}Update{% endblock title %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <div class="card rounded">
            <div class="card-body">
                <h2 class="card-title">{{ request.user }}</h2>
                <form method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a href="{{ profile.get_absolute_url }}" class="btn btn-light" type="submit">Cancel</a>
                    <button class="btn btn-success" type="submit">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}