<!-- Start Alert -->
{% if messages %}
{% for message in messages %}
<div class="alert alert-{% if message.tags %}{{ message.tags }}{% endif %} alert-dismissible fade show">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <div class="alert-icon">
        <i class="icon-check"></i>
    </div>
    <div class="alert-message">
        <span>{{ message }}</span>
    </div>
</div>
{% endfor %}
{% endif %}
<!-- End Alert -->